.container {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f7f7f7;
    padding: 20px;
    width: 400px;
    margin: 50px auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom, #fff, #f1f1f1);
    background-image: repeating-linear-gradient(
      to bottom,
      #f1f1f1 0,
      #f1f1f1 1px,
      transparent 1px,
      transparent 30px
    );
  }

  .input-field {
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #9c9999bd;
    font-size: 16px;
    background-color:#ccc8c83b;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  .task {
    padding: 10px;
    background-color: #ffffff77;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid #ddd;
  }

  .task.completed {
    background-color: #afeeaf60;
    text-decoration: line-through;
    color: #888;
  }

  .task:hover {
    background-color: #f9f9f9;
  }

  .task input[type='checkbox'] {
    margin-right: 10px;
    transform: scale(1.4);
  }

  .delete-btn {
    display: none;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .delete-btn:hover{
    transform: scale(1.2);
    background-color: rgb(255, 0, 0);
  }

  .task:hover .delete-btn {
    display: inline-block;
  }

  .message {
    color: #888;
    text-align: center;
  }